<div class="overlay"></div>
<div class="content">
  <h1 class="headline title-dark">{{contact.contactUs}}</h1>
  <div class="form">
    <form id="contact-form">
      <div class="form-field">
        <label for="name">{{contact.name}}</label>
        <input type="text" name="name">
      </div>
      <div class="form-field">
        <label for="email">{{contact.email}}</label>
        <input type="email" name="email">
      </div>
      <div class="form-field">
        <label for="departure-date">{{contact.departure}}</label>
        <input type="date" name="departure-date">
      </div>
      <div class="form-field">
        <label for="return-date">{{contact.return}}</label>
        <input type="date" name="return-date">
      </div>
      <div class="form-field">
        <label for="message">{{contact.message}}</label>
        <textarea name="message"></textarea>
      </div>
      <div class="submit">
        <input type="submit" name={{contact.submit}} class="button purple">
      </div>
    </form>
  </div>
</div>