<div class="overlay"></div>
<div class="content">
  <div class="text">
    <h1 class="headline">{{team.headline}}</h1>
    <div class="team-members">
      {{#each team.members}}
        <div class="member">
          <div class="team-picture">
            <img src={{image}} alt={{name}}>
          </div>
          <div class="description">
            <h2>{{greeting}}</h2>
            <p>{{bio}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>