<div class="overlay"></div>
<div class="content">
  <div class="columns">
    <h1 class="headline">{{team.headline}}</h1>
    <div class="team-members">
      {{#each team.members}}
        <div class="member">
          <div class="team-picture" id={{name}}>
            <div class="greeting">
              <h3>{{greeting}}</h3>
            </div>
          </div>
          <div class="description">
            <p>{{bio}}</p>
            <p>{{languages}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>